<h1>Dragon ball Z</h1>
<hr>

<div class="row">
    <div class="col">
        <app-personajes [personajes]="personajes"></app-personajes>
        <!-- <h3>Personaje</h3>
        <hr>
        <ul>
            <li *ngFor="let personaje of personajes">
                {{personaje.nombre}} - {{personaje.poder | number}}
            </li>
        </ul> -->
    </div>
    <div class="col">
        <app-agregar [nuevo]="nuevo" (onNuevoPersonaje)="agregarNuevoPersonaje($event)"></app-agregar>
        <!-- <h3>Agregar<small>{{nuevo.nombre}}</small> </h3>
        <hr>
        <form action="" (ngSubmit)="agregar()">
            <input 
                type="text" name="nombre" id="" placeholder="Nombre"
                [(ngModel)]="nuevo.nombre"
            />
            //[value]="nuevo.nombre"
              //  (input)="cabiarNombre($event)"
            
             <input 
                type="text"
                placeholder="Poder"
                name="poder" 
                [(ngModel)]="nuevo.poder"
            />
            <button type="submit">
                Agregar
            </button>
        </form> -->
    </div>
</div>